<div class='movies col-4'>
    <h3>Movies to Watch</h3>
    <ol>
       <li *ngFor ="let movie of movies">{{movie}}</li>
    </ol>
    <hr>
    <!-- See #newMovie and newMovie.value - (input.id.value essentially.) -->
    <input #newMovie (keyup.enter)="addMovie(newMovie.value); newMovie.value = ''" type="text" placeholder="Enter Movie Title Here"/>
    <button *ngIf = "movies.includes(newTitle); else noDuplicates" (click)='addMovie(newMovie.value)'>Add</button>
    <!-- TODO Bonus mission to use Use *ngIf to display an error message if the user does not enter a title or submits a title that is already on the list.
         Add CSS to change the color of the error message. -->
 </div>