<div class='movies col-4'>
    <h3>Movies to Watch</h3>
    <ol>
       <li *ngFor ="let movie of movies">{{movie}}</li>
    </ol>
    <hr>
    <!-- See #newMovie and newMovie.value - (input.id.value essentially.) -->
    <input #newMovie (keyup.enter)="message = addMovie(newMovie.value); newMovie.value = ''" type="text" placeholder="Enter Movie Title Here"/>
    <button (click)="message = addMovie(newMovie.value); newMovie.value = ''">Add</button>
    <p class = "error" *ngIf = "message">{{message}}</p>
    <!-- TODO Bonus mission to use Use *ngIf to display an error message if the user does not enter a title or submits a title that is already on the list.
         Add CSS to change the color of the error message. -->
 </div>

 <!-- The following lines solve the bonus tasks. Replace lines 7 & 8 with lines
         12 - 14.
    <input #newMovie (keyup.enter)="message = addMovie(newMovie.value); newMovie.value = ''" type="text" placeholder="Enter Movie Title Here"/>
    <button (click)="message = addMovie(newMovie.value); newMovie.value = ''">Add</button>
    <p class = "error" *ngIf = "message">{{message}}</p>
    -->