<div class='chores' *ngFor = 'let list of chores'>
    <h3>{{list.title}}</h3>
    <ul>
      <li *ngFor = 'let chore of list.tasks'>{{chore}}</li>
    </ul>
    <hr>
 </div>


 <!-- 
<div  *ngFor = 'let pet of pets'>
   <h3>My Pets</h3>
   <ul>
      <li *ngFor = 'let pet of pets'>{{pet}}</li>
   </ul>
</div>


Assume that we have defined a pets array that contains 4 animals.
Adding *ngFor = 'let pet of pets' to the <li> tag produces:
4 list items -- for each item in the pets array return 1 list item -- 

Moving *ngFor = 'let pet of pets' from the <li> tag to the <div> tag produces:

it's either 4 repeated headings with 1 different animal li per heading or
4 repeated headings with 4 different animal li per heading.

the heading is basically multiplied by the number of list items.

-->

